= stylesheet_link_tag *%w[base jquery-ui formtastic jquery.tipsy uniform.default]
%link#current-theme{:href => "/stylesheets/themes/activo/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
= javascript_include_tag *%w[jquery-1.4.4.min jquery-ui.min jquery.scrollTo jquery.localscroll application jquery.tipsy  jquery.uniform.min]
:css
  .secondary-navigation ul li.disabled a {
    color: #AAA;
  }