#block-text.block
  .content
    %h2.title Welcome
    .inner
      %p.first
        This page links to a series of others showing of activo's styles.
      %hr
      %p
        %h4 First, the original stuff, largely untouched:
        - %w[text tables sub_nav forms messages two_column_forms attrtastic formtastic lists sign_in sign_up].each do |page|
          =link_to page.humanize, "/original/#{page}"