#block-attrtastic.block
  .secondary-navigation
    %ul.wat-cf
      %li.first
        %a{:href => "#block-text"} Text
      %li
        %a{:href => "#block-tables"} Tables
      %li
        %a{:href => "#block-innernav"} Sub-nav
      %li
        %a{:href => "#block-forms"} Forms
      %li
        %a{:href => "#block-messages"} Messages
      %li
        %a{:href => "#block-forms-2"} 2 Cols Forms
      %li.active
        %a{:href => "#block-attrtastic"} Attrtastic
      %li
        %a{:href => "#block-formtastic"} Formtastic
      %li
        %a{:href => "#block-lists"} Lists
  .content
    .control
      %a.button{:href => "#"}
        %img{:alt => "Export", :src => "stylesheets/themes/activo/images/icons/pdf.png"}/
        Export
      %a.button{:href => "#"}
        %img{:alt => "Edit", :src => "stylesheets/themes/activo/images/icons/application_edit.png"}/
        Edit
    %h2.title
      %a{:href => "http://github.com/MBO/attrtastic"} Attrtastic
      integration
    .inner
      .attrtastic.example
        .column_left
          .attributes
            %ol
              %li.attribute
                %span.label Dolor
                %span.value Sit amet
        .column_right
          .attributes
            %ol
              %li.attribute
                %span.label Consectetur
                %span.value 528491
        .attributes
          %ol
            %li.attribute
              %span.label Adipisicing elit
              %span.value Aliquip
        .column_left
          .attributes
            %ol
              %li.attribute
                %span.label Incididunt
                %span.value Officia
              %li.attribute
                %span.label Labore
                %span.value Ut enim ad minim veniam
        .column_right
          .attributes
            %ol
              %li.attribute
                %span.label Eiusmod Tempor
                %span.value 4 8 15 16 23 42
              %li.attribute
                %span.label Laboris nisi
                %span.value
        .attributes
          %ol
            %li.attribute
              %span.label Pariatur
              %span.value Excepteur sint occaecat cupidatat non proident
        .attributes
          %ol/
          %hr/
        .column_left
          .attributes
            %ol
              %li.attribute
                %span.label Sunt in culpa
                %span.value Irure dolor
              %li.attribute
                %span.label Deserunt mollit
                %span.value Fugiat nulla
        .column_right
          .attributes
            %ol
              %li.attribute
                %span.label Laborum
                %span.value Voluptate
              %li.attribute
                %span.label Consequat
                %span.value Velit
              %li.attribute
                %span.label Reprehenderit
                %span.value Cillum dolore
      .wat-cf
