#block-innernav.block
  .secondary-navigation
    %ul.wat-cf
      %li.first
        %a{:href => "#block-text"} Text
      %li
        %a{:href => "#block-tables"} Tables
      %li.active
        %a{:href => "#block-innernav"} Sub-nav
      %li
        %a{:href => "#block-forms"} Forms
      %li
        %a{:href => "#block-messages"} Messages
      %li
        %a{:href => "#block-forms-2"} 2 Cols Forms
      %li
        %a{:href => "#block-attrtastic"} Attrtastic
      %li
        %a{:href => "#block-formtastic"} Formtastic
      %li
        %a{:href => "#block-lists"} Lists
  .content
    %h2.title
      Cicero
    .control{:style => "margin-top:-7px; margin-right:8px;"}
      %a.button{:href => "#"}
        %img{:alt => "Export", :src => "stylesheets/themes/activo/images/icons/pdf.png"}/
        Export list
    .inner
      %h3.title
        Finibus
      %table.table{:style => "margin-bottom: 0px;"}
        %tr
          %th Reference
          %th Param 1
          %th Param 2
          %th Param 3
          %th Param 4
          %th Param 5
          %th Param 6
          %th Time
          %th.last{:style => "width:40px;"}
        %tr.even
          %td
            %a.anchor{:href => "#tempore"} Tempore
          %td 21
          %td 21
          %td 0
          %td 6
          %td 4
          %td 8
          %td -
          %td.last
            %a.anchor{:href => "#tempore"}
              %img{:alt => "Malorum", :onmouseout => "this.src='stylesheets/themes/activo/images/icons/24/anchor.png'", :onmouseover => "this.src='stylesheets/themes/activo/images/icons/24/anchor-hover.png'", :src => "stylesheets/themes/activo/images/icons/24/anchor.png", :title => "Malorum"}/
        %tr.odd
          %td
            %a.anchor{:href => "#tempore"} Soluta
          %td 0
          %td 0
          %td 0
          %td 0
          %td 0
          %td 0
          %td -
          %td.last
            %a.anchor{:href => "#tempore"}
              %img{:alt => "Malorum", :onmouseout => "this.src='stylesheets/themes/activo/images/icons/24/anchor.png'", :onmouseover => "this.src='stylesheets/themes/activo/images/icons/24/anchor-hover.png'", :src => "stylesheets/themes/activo/images/icons/24/anchor.png", :title => "Malorum"}/
        %tr.even
          %td{:style => "font-style: italic;"} Total
          %td 21
          %td 21
          %td 0
          %td 6
          %td 4
          %td 8
          %td -
          %td.last
    .control{:style => "margin-top:2px; margin-right:8px;"}
      %a.button{:href => "#"}
        %img{:alt => "Add item", :src => "stylesheets/themes/activo/images/icons/add.png"}/
        Add item
      %a.button{:href => "#"}
        %img{:alt => "Send email", :src => "stylesheets/themes/activo/images/icons/send-mail.png"}/
        Send email
    .inner
      %h3.title
        Bonorum
      .block-norounded
        #mask
          .secondary-inner-nav
            %ul.wat-cf
              %li.first.active
                %a{:href => "#"} Neque
              %li
                %a{:href => "#"} Quisquam
              %li
                %a{:href => "#"} Dolorem
              %li
                %a{:href => "#"} Ipsum
              %li
                %a{:href => "#"} Dolor
              %li
                %a{:href => "#"} Consectetur
          .inner
            %h4#tempore.title
              Malorum
            %table.table
              %tr
                %td There is no spoon
            .wat-cf
  .breadcrumb
    %ul
      %li.first
        %a{:href => "#"} Lorem
      %li
        %a{:href => "#"} Ipsum
      %li
        %a{:href => "#"} Dolor
      %li
        %a{:href => "#"} Sit
      %li
        %a{:href => "#"} Ammet
      %li.active Consectetur
